{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/foundation.min.css' %}">
<link rel="stylesheet" href="{% static 'main/app.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">